@import "../../../variables.scss";
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: 100%;
  }
  
.profile-header {

  @include clearfix;

  &__picture {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: red;
   // -webkit-shape-outside: circle(50% at 50% 50%);
   // shape-outside:  circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
  }

  &__title {

  }

  &__subtitle{

  }
}
