<!-- <section class="hero is-info is-fullheight is-bold"> -->
  <div class="hero-header">

    <div class="container">
      <h1 class="title">
        Edit Profile
      </h1>
    </div>
    <div class="container" >
    <!-- <div class="container" *ngIf="true"> -->

      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-128x128 profile-pic">
            <img src="{{person.photoUrl}}" default class="profile-pic__img">
            <figcaption class="profile-pic__edit">
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload
                    </span>
                  </span>
                </label>
              </div>
            </figcaption>
          </figure>
        </div>

        <div class="column">
          <div class="columns">
            <div class="column is-one-quarter"> 
              
              <input id="name" class="input is-medium" type="text" placeholder="Full Name" [(ngModel)]="person.name"></div>
          </div>



          <div class="columns">
            <div class="column is-one-fifth"> <input id="name" class="input is-medium" type="text" placeholder="Nickname" [(ngModel)]="person.nickname">
            </div>
          </div>

          <div class="field">
            <label class="radio">
              <input type="radio" name="gender" [(ngModel)]="person.gender" value="MALE">
              Male
            </label>
            <label class="radio">
              <input type="radio" name="gender" [(ngModel)]="person.gender" value="FEMALE">
              Female
            </label>
          </div>
 
          <div class="columns">
            <div class="column is-one-quarter">
              Birthday: 
              <input id="name" class="input is-medium" type="date" placeholder="Birth date" 
              [(ngModel)]="person.dateOfBirth"/>
            </div>
            <div *ngIf="person.deceased" class="column is-one-quarter">
              <div >
              Death: <input id="name" class="input is-medium" type="date" placeholder="Death date" [(ngModel)]="person.dateOfDeath">
            </div>
            </div>
            <div class="column is-one-quarter is-deceased">
              <br />
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="person.deceased" >
                Deceased
              </label>
            </div>
          </div>

        </div>
      </div>
      <!-- end of profile picture column
      -->




      <div class="field">
        <label class="label">Parents </label>
        <div class="person-search">

          <div class="field is-grouped is-grouped-multiline person-list">
      
            <div class="control" *ngFor="let parent of person.parents; let i= index">
              <div class="tags has-addons is-medium">
                <a class="tag is-link is-medium" [ngClass]="{'is-female': parent.gender == 'FEMALE'}"> {{i}}{{parent.name}}</a>
                <a class="tag is-delete is-medium" (click)="person.parents.splice(i, 1)"></a>
              </div>
            </div>

            <div class="control">
              <a class=" tag is-link is-light is-medium  add-person">[Add Person]</a>
            </div>

          </div>
        </div>
      </div>


      <div class="field">
        <label class="label">Children </label>
        <div class="person-search">

          <div class="field is-grouped is-grouped-multiline person-list">
            <div class="control">
              <div class="tags has-addons is-medium">
                <a class="tag is-link is-medium">Alex Smith</a>
                <a class="tag is-delete is-medium"></a>
              </div>
            </div>

            <div class="control">
              <div class="tags has-addons is-medium">
                <a class="tag is-link is-medium is-female">Jane Smith</a>
                <a class="tag is-delete is-medium"></a>
              </div>
            </div>

            <div class="control">
              <a class=" tag is-link is-light is-medium  add-person">[Add Person]</a>
            </div>

          </div>
        </div>
      </div>





      <div class="field">
        <label class="label">Relationships </label>
        <div class="person-search">
          <div class="columns">
            <div class="column is-one-fifth">
              <input type="text" placeholder="Type" class="input">
            </div>



            <div class="column">
              <div class="field is-grouped is-grouped-multiline person-list">
                <div class="control">
                  <div class="tags has-addons is-medium">
                    <a class="tag is-link is-medium">Alex Smith</a>
                    <a class="tag is-delete is-medium"></a>
                  </div>
                </div>
                <div class="control">
                  <div class="tags has-addons is-medium">
                    <a class="tag is-link is-medium">Alex Smith</a>
                    <a class="tag is-delete is-medium"></a>
                  </div>
                </div>

                <div class="control">
                  <div class="tags has-addons is-medium">
                    <a class="tag is-link is-medium is-female">Jane Smith</a>
                    <a class="tag is-delete is-medium"></a>
                  </div>
                </div>

                <div class="control">
                  <a class=" tag is-link is-light is-medium  add-person">[Add Person]</a>
                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="control">
          <a class=" tag is-link is-light is-medium  add-person">[Add Relationship]</a>
        </div>
      </div>

      <div class="field">
        <label class="label">Notes</label>
        <div class="control">
          <textarea class="textarea" placeholder="Some notes..."></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<!-- </section> -->