<mat-card class="people">
    <mat-card-header>Recent People</mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let person of people" class="person">
          <img [routerLink]="['/people/id', person.id]" mat-list-avatar src="{{person.photoUrl}}" default = "assets/no-photo.png" class = "person__img img" alt="{{person.nickname}}">
          <h3 [routerLink]="['/people/id', person.id]" mat-line class="person__name">{{person.name}}</h3>
         
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  