$tag-background-color:red;

figure {
    margin-right: .5rem;
    margin-left: 1rem;
    cursor: pointer;
}

a.tag {
    margin-bottom: 1.5rem;
    background-color: transparent;
}

.tags {
    margin-bottom: -1.5rem;
}